{% extends "base.html" %} {% load static %} {% block content %}
<div class="furniture-box">
  <div class="terms-title">
    <div class="container">
      <div class="row">
        <ol class="breadcrumb">
          <li><a href="#">Frontpage </a></li>
          <li class="active">{{ category }}</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="furniture-box main-cards-box">
  <div class="categories-container">
    <div class="row">
      <div class="furniture-main">
        <h1>{{ category }}</h1>

        <div class="furniture-left">
          <h3>Filter Products</h3>
          <div class="by-box">
            <h5>By price</h5>
            <div id="slider-range"></div>
            <p>
              <input type="text" id="amount" readonly style="" />
            </p>
          </div>
        </div>

        <!-- top filter -->

        <div class="col-md-3 col-sm-4">
          <div class="furniture-left">
            <h3>Filter Products</h3>
            <div class="by-box">
              <h5>By price</h5>
              <div id="slider-range"></div>
              <p>
                <input type="text" id="amount" readonly style="" />
              </p>
            </div>
            <div class="by-com">
              <h5>By company</h5>

              <div class="list-b">
                <div id="boxscroll">
                  {% for factory in factorys %}
                  <div class="form-check">
                    <input
                      id="checkbox-{{ factory.id }}"
                      class="filled-in chk-col-blue factory-checkbox"
                      type="checkbox"
                      value="{{ factory.id }}"
                    />
                    <label for="checkbox-{{ factory.id }}"
                      >{{ factory.name }}</label
                    >
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="left-list-f">
              <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4
                      data-toggle="collapse"
                      data-parent="#accordion"
                      href="#collapse1"
                      class="panel-title expand"
                    >
                      <div class="right-arrow pull-right">
                        <span class="caret"></span>
                      </div>
                      <a href="#">Sort by</a>
                    </h4>
                  </div>
                  <div id="collapse1" class="panel-collapse collapse">
                    <div class="panel-body">Lorem ipsum dolor sit amet,</div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4
                      data-toggle="collapse"
                      data-parent="#accordion"
                      href="#collapse2"
                      class="panel-title expand"
                    >
                      <div class="right-arrow pull-right">
                        <span class="caret"></span>
                      </div>
                      <a href="#">Ships from(country)</a>
                    </h4>
                  </div>
                  <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">Lorem ipsum dolor sit amet,</div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4
                      data-toggle="collapse"
                      data-parent="#accordion"
                      href="#collapse3"
                      class="panel-title expand"
                    >
                      <div class="right-arrow pull-right">
                        <span class="caret"></span>
                      </div>
                      <a href="#">Style</a>
                    </h4>
                  </div>
                  <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body">Lorem ipsum dolor sit amet,</div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4
                      data-toggle="collapse"
                      data-parent="#accordion"
                      href="#collapse4"
                      class="panel-title expand"
                    >
                      <div class="right-arrow pull-right">
                        <span class="caret"></span>
                      </div>
                      <a href="#">Pattern type</a>
                    </h4>
                  </div>
                  <div id="collapse4" class="panel-collapse collapse">
                    <div class="panel-body">Lorem ipsum dolor sit amet,</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-9 col-sm-9">
          <div class="furniture-middle">
            <!-- colors filter row -->
            <div class="colors-filter-row">
              {% for color in colors %}
              <button
                class="btn color-item"
                data-color-code="{{ color.color_code }}"
              >
                <div
                  class="color"
                  style="background-color: {{ color.color_code }};"
                ></div>
                <span>{{ color.name }}</span>
              </button>
              {% endfor %}
            </div>

            <!-- top filter -->
            <div class="row top-filter-row">
              <div class="categories-top-filter-container">
                <div class="col first-col">
                  {% comment %}
                  <button class="btn sort-button">
                    <img
                      src="{% static './images/arrows-alt-v-solid.svg' %}"
                      width="18"
                      height="18"
                      alt=""
                    />
                  </button>
                  <select
                    class="custom-select form-control"
                    id="inputGroupSelect01"
                  >
                    <option selected>Choose...</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                  {% endcomment %}
                  <div class="selected-filters">
                    <h4>Selected Filters</h4>
                    <div class="selected-filters-div" id="selected-filters-container">
                      <!-- Selected filters will be added here dynamically -->
                    </div>
                    <button id="reset-filters" class="btn btn-danger ">
                      Reset All Filters
                    </button>
                  </div>
                </div>
                <div class="col">
                  <!-- products count -->
                  <h4>
                    <span>Showing</span> <span>12</span> <span>of</span>
                    <span>12</span>
                  </h4>
                </div>
              </div>
            </div>

            <!-- cards container -->
            <div class="row cat-pd">
              {% for product in products %}
              <div class="col-md-3 col-sm-6 category-card-col">
                <div class="small-box-c">
                  <div class="small-img-b">
                    <a href="{% url 'product_detail' slug=product.slug %}">
                      {% if product.image %}
                      <img
                        src="{{ product.image.url }}"
                        alt="{{ product.name }}"
                      />
                      {% else %}
                      <img
                        src="{% static 'images/logo.png' %}"
                        alt="Placeholder image"
                      />
                      {% endif %}
                    </a>
                  </div>
                  <div class="dit-t clearfix">
                    <div class="left-ti">
                      <h4>{{ product.name }}</h4>
                      <p>
                        By <span>{{ product.factory.name }}</span> under
                        <span>{{ product.type }}</span>
                      </p>
                    </div>
                    <a href="#" tabindex="0"> SAR {{ product.price }}</a>
                  </div>
                  <div class="prod-btn">
                    <label
                      for="quantity"
                      style="font-size: 12px; margin-right: 5px"
                      >Quantity (meters):</label
                    >
                    <input
                      type="number"
                      id="quantity-{{ product.id }}"
                      name="quantity"
                      min="1"
                      step="1"
                      value="1"
                      style="width: 60px; margin-right: 8px"
                    />
                    <a
                      href="javascript:void(0);"
                      onclick="addToCart({{ product.id }})"
                      ><i class="fa fa-shopping-cart" aria-hidden="true"></i>
                      Add to cart</a
                    >
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
